@{
    ViewData["Title"] = "About the Health App v1.0";
}
<h2>@ViewData["Title"]</h2>
<h3>About Version 1.0</h3>


<p>The Health App focuses on three specific realms of our health. It allows you to document food intake, medical chart information, and exercise 
    so the user can see the impact of their daily decisions. In version 1.0, you can enter the information for the above mentioned fields and chart them individually. 
    The charts provide a visual representation of the information entered.</p>

<h3>The Future Versions</h3>
<p>The next version of the Health App would allow all the information to be integrated together, so the user can see the overall impact their choices make on their health.</p>